<ion-app>

    <!--  <ion-header>
        <ion-toolbar class="top-toolbar">

        </ion-toolbar>
    </ion-header>

    <ion-content>
        <mat-horizontal-stepper class="heard">

            <mat-step>
                <div class="back-button-and-name">
                    <div>
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div>
                        <p>Personal details</p>
                    </div>
                </div>

                <div>
                    <form>
                         <div class="section-form">
          
                    <a routerLink="/landingpage">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </a>
                    <p>Personal Details</p>
                </div> -->
    <!--     
                <ion-card class="item">
                    <ion-input type="text " placeholder="NAME ">
                    </ion-input>
                </ion-card>
          
                <ion-card class="item">
                    <ion-input type="text " placeholder="SURNAME ">
                    </ion-input>
                </ion-card> 
               
                  
               
          
                <ion-card class="item">
                    <ion-input type="number " placeholder="ID NUMBER ">
                    </ion-input>
                </ion-card>
          
                <ion-card class="item">
                    <ion-input placeholder="EMAIL ADDRESS ">
                    </ion-input>
                </ion-card> -->



    <!--   <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">

                            <button mat-button matStepperNext>Next</button>

                        </div>
                    </form>

                </div>


            </mat-step>
            <mat-step>

                <div class="back-button-and-name">
                    <div>
                        <ion-icon matStepperPrevious name="chevron-back-outline"></ion-icon>
                    </div>
                    <div>
                        <p>physical address</p>
                    </div>
                </div>

                <div>
                    <form>
                         <div class="section-form">
              
                        <a routerLink="/landingpage">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                        <p>Personal Details</p>
                    </div> -->
    <!--     
                    <ion-card class="item">
                        <ion-input type="text " placeholder="NAME ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input type="text " placeholder="SURNAME ">
                        </ion-input>
                    </ion-card> 
                   
                      
                   
              
                    <ion-card class="item">
                        <ion-input type="number " placeholder="ID NUMBER ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input placeholder="EMAIL ADDRESS ">
                        </ion-input>
                    </ion-card> -->



    <!--<div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">

                            <button mat-button matStepperNext>Next</button>

                        </div>
                    </form>

                </div>
            </mat-step>
            <mat-step>

                <div class="back-button-and-name">
                    <div>
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div>
                        <p>company details</p>
                    </div>
                </div>
                <div>
                    <form>
                         <div class="section-form">
              
                        <a routerLink="/landingpage">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                        <p>Personal Details</p>
                    </div> -->
    <!--     
                    <ion-card class="item">
                        <ion-input type="text " placeholder="NAME ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input type="text " placeholder="SURNAME ">
                        </ion-input>
                    </ion-card> 
                   
                      
                   
              
                    <ion-card class="item">
                        <ion-input type="number " placeholder="ID NUMBER ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input placeholder="EMAIL ADDRESS ">
                        </ion-input>
                    </ion-card> -->



    <!--  <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">

                            <button mat-button matStepperNext>Next</button>

                        </div>
                    </form>

                </div>
            </mat-step>
            <mat-step>

                <div class="back-button-and-name">
                    <div>
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div>
                        <p>company physical address</p>
                    </div>
                </div>
                <div>
                    <form>
                         <div class="section-form">
              
                        <a routerLink="/landingpage">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                        <p>Personal Details</p>
                    </div> -->
    <!--     
                    <ion-card class="item">
                        <ion-input type="text " placeholder="NAME ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input type="text " placeholder="SURNAME ">
                        </ion-input>
                    </ion-card> 
                   
                      
                   
              
                    <ion-card class="item">
                        <ion-input type="number " placeholder="ID NUMBER ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input placeholder="EMAIL ADDRESS ">
                        </ion-input>
                    </ion-card> -->



    <!-- <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="u">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">

                            <p class="check-p">

                            </p>

                            <ion-text>
                                <ion-checkbox class="check" color="primary"> </ion-checkbox>
                                <span>Personal and Company address is identical</span>
                            </ion-text>


                        </div>




                        <button style="margin-top: 10px !important;" mat-button matStepperNext>Next</button>


                    </form>

                </div>
            </mat-step>
            <mat-step>

                <div class="back-button-and-name">
                    <div>
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                    <div>
                        <p>banking details</p>
                    </div>
                </div>
                <div>
                    <form>
                         <div class="section-form">
              
                        <a routerLink="/landingpage">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                        <p>Personal Details</p>
                    </div> -->
    <!--     
                    <ion-card class="item">
                        <ion-input type="text " placeholder="NAME ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input type="text " placeholder="SURNAME ">
                        </ion-input>
                    </ion-card> 
                   
                      
                   
              
                    <ion-card class="item">
                        <ion-input type="number " placeholder="ID NUMBER ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input placeholder="EMAIL ADDRESS ">
                        </ion-input>
                    </ion-card> -->



    <!--<div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="Bank Name">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="Account Type">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="Account Holder Name">
                            </ion-item>
                        </div>
                        <div class="input-wrapper">
                            <ion-item lines="none">
                                <input size="100" class="inputCustom" type="text" placeholder="Branch Name">
                            </ion-item>
                        </div>


                        <div class="input-wrapper">

                            <button mat-button matStepperNext>Next</button>

                        </div>
                    </form>

                </div>
            </mat-step>
            <mat-step>

                <mat-step>
                    <div class="back-button-and-name">
                        <div>
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </div>
                        <div>
                            <p>security details</p>
                        </div>
                    </div>
                    <div>
                        <form>
                             <div class="section-form">
              
                        <a routerLink="/landingpage">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>
                        <p>Personal Details</p>
                    </div> -->
    <!--     
                    <ion-card class="item">
                        <ion-input type="text " placeholder="NAME ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input type="text " placeholder="SURNAME ">
                        </ion-input>
                    </ion-card> 
                   
                      
                   
              
                    <ion-card class="item">
                        <ion-input type="number " placeholder="ID NUMBER ">
                        </ion-input>
                    </ion-card>
              
                    <ion-card class="item">
                        <ion-input placeholder="EMAIL ADDRESS ">
                        </ion-input>
                    </ion-card> -->



    <!-- <div class="input-wrapper">
                                <ion-item lines="none">
                                    <input size="100" class="inputCustom" type="text" placeholder="Create Password">
                                </ion-item>
                            </div>
                            <div class="input-wrapper">
                                <ion-item lines="none">
                                    <input size="100" class="inputCustom" type="text" placeholder="Confrim Password">
                                </ion-item>
                            </div>
                            <div class="input-wrapper">
                                <ion-item lines="none">
                                    <input size="100" class="inputCustom" type="text" placeholder="Upload ID card">
                                </ion-item>
                            </div>
                            <div class="input-wrapper">
                                <ion-item lines="none">
                                    <input size="100" class="inputCustom" type="text" placeholder="Upload CK Documents">
                                </ion-item>
                            </div>
                            <div class="input-wrapper">
                                <ion-item lines="none">
                                    <input size="100" class="inputCustom" type="text" placeholder="Upload Form Photo">
                                </ion-item>
                            </div>


                            <div class="input-wrapper">

                                <button mat-button matStepperNext>Next</button>

                            </div>
                        </form>

                    </div>
                </mat-step>
                <div class="container">

                    <div class="section-form">

                        <a routerLink="/securitydetails">
                            <ion-icon name="chevron-back-outline"></ion-icon>
                        </a>

                        <div class="img-profile" alt="profile-imgk">
                            <img src="../../assets/images/profilepic.png" alt="profilepicture">
                        </div>

                    </div>
                    <p class=" msg ">Enter the OPT code<br>sent to your email address</p>
                    comment open tag here 
            <ion-item>
                <div class="profilepic ">
                    <div class="img-profile "></div>
                </div>
            </ion-item>-->

    <!--<div class="field-input ">
                        <ion-card>
                            <ion-input></ion-input>
                        </ion-card>

                        <ion-card>
                            <ion-input></ion-input>
                        </ion-card>

                        <ion-card>
                            <ion-input></ion-input>
                        </ion-card>

                        <ion-card>
                            <ion-input></ion-input>
                        </ion-card>
                    </div>

                    <button matStepperNext>Next</button>

                </div>
            </mat-step>
            <mat-step>
                <p>Socialize with each other.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Step 3">
                <p>You're welcome.</p>
            </mat-step>

            open commet Icon overrides. -->
    <!-- <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
          </ng-template> -->
    <!--  </mat-horizontal-stepper>
    </ion-content>
    <ion-footer class="footer">
        <ion-toolbar class="ftr">
            <p>Saved 4 minutes ago</p>
        </ion-toolbar>
    </ion-footer>-->

    <ion-router-outlet></ion-router-outlet>
</ion-app>